.header{
    display: flex;
    justify-content: space-between;
    border: 2px solid black;

}

.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.nav-items > ul{
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li{
    padding: 20px;
    margin: 10px;
}

.search{
    padding: 10px;
}

.res-container{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.res-card{
    width: 200px;
    height: 300px;
    padding: 5px;
    border-radius: 20px;
    margin: 5px;
    background-color: rgb(242, 238, 238);
}

.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}

.res-logo{
    width: 190px;
    margin-left: 5px;
}